.blog:hover{
    cursor: pointer;
    opacity: .95;
}

.blog, .blog > .title.is-3{
    color: #FCD0A1;
}

hr {
    background-color: #FCD0A1;
}

#navbar {
    background-color: rgba(200, 200, 200, 0);
}
a.navbar-item.is-active:hover {
    color: #FCD0A1;
}

.button {
    min-width: 7em;
}

img { 
    max-width: 70%;
}

.navbar-item {
    max-width: 25%;
    display: inline;
}