---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Chris Zavala">
    <div class="flex flex-col">
        <h1 class="text-accent2 text-3xl font-bold pt-5 self-center">Introduction</h1>
        <p class="text-middle text-xl pt-5 font-serif">
            Hello there! I am Christopher (<span>Chris</span>) Zavala. 
            I am a software developer who likes to solve problems and 
            learning about tech in general. I have been programming for 
            about 6 years getting my start during my freshman year of college.
            I had a rough time during covid so I ended up taking 5 1/2 years 
            to finish my degree but I can proudly say I stuck through it 
            and completed my bachelors inspite of my difficulties.
        </p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-accent2 text-3xl font-bold pt-5 self-center">Hobbies</h1>
        <p class="text-middle text-xl pt-5 font-serif">
            My hobbies are like the tide. They come and go at regular intervals. 
            One day I will be painting miniatures obsessing about every little paint 
            stroke and the next I will have a box full of unfinished minis sitting in 
            a box waiting months to be touched again. Other hobbies are more regular 
            like my obsession with fountain pens, while during the peaks I will be
            obsessing over new pens and watching endless fountain pen podcasts for 
            the most part I will be consistently reaching for my precious pens for 
            any physical note taking or writing. There are many more hobbies that 
            I indulge in here but writing them all down would be too much.  
        </p>
    </div>
</Layout>