---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<Layout title="Hello There">
	<main>  
        <div class="m-auto max-w-screen-md">
            <div class="flex flex-shrink pt-20">
                <Image src={logo} alt="A simplified logo of quetzocoatl" class="max-h-40 shrink"/>
                <div class="grow">
                    <h1 class="text-accent1 text-3xl font-bold">Christopher Zavala</h1>
                    <h2 class="text-light text-xl font-bold">Software Developer <span class="text-middle"> | </span>Cary, NC</h2>
                </div>
            </div>
            <div class="content-center pl-20 text-xl">
                <p class="text-middle"> A Software Developer interested in building scalable Full-Stack applications. </p>
            </div>
        </div>
	</main>
</Layout>
