---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hello There">
	<main>  
        <div>
            <div class="align-middle max-w-50 px-20 pt-20">
                <h1 class="text-accent1 text-3xl font-bold">Christopher Zavala</h1>
                <h2 class="text-light text-xl">Software Developer <span class="text-middle"> | </span>Cary, NC<h2>    
            </div>
            <div>
            </div>
        </div>
	</main>
</Layout>
