---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import Card from "../components/Card.astro";
import fallout from '../images/fallout-ttrpg-pip-boy.png';
import wolfwatch from '../images/wolfwatch.png';
import blackjack from '../images/blackjack.png';
---
<Layout title="Chris Zavala">
    <a class="flex text-dark bg-middle rounded-xl link-card w-full" href="https://github.com/zavastopher/Fallout-TTRPG-WebApp" target="_blank">
        <Image src={fallout} alt="an image of a fallout pip boy" class="max-w-sm"/>
        <div class="p-3 flex flex-col gap-5 h-full">
            <h1 class="font-bold pb-2">Fallout-TTRPG-Pip-Boy</h1>
            <p>
                A Pip-Boy style web-app for managing character sheets for the Fallout-TTRPG
            </p>
            <span class="font-bold">Tags: </span>
            <div class="flex flex-wrap gap-1 text-middle">
                <span class="tag">Full-Stack Web-app</span>
                <span class="tag">React</span>
                <span class="tag">Python Flask</span>
                <span class="tag">nGinx</span>
                <span class="tag">Docker</span>
                <span class="tag">API Design</span>
                <span class="tag">npm</span>
                <span class="tag">NodeJS</span>
            </div>
        </div>
    </a>
    <a class="flex text-dark bg-middle rounded-xl link-card  w-full" href="https://github.com/zavastopher/wolfwatch" target="_blank">
        <Image src={wolfwatch} alt="an image of a wolfwatch user frontend" class="max-w-sm"/>
        <div class="p-3 flex flex-col gap-5 h-full">
            <h1 class="font-bold">Wolfwatch</h1>
            <p>
                An assignment web-scanner
            </p>
            <span class="font-bold">Tags: </span>
            <div class="flex flex-wrap gap-1 text-middle">
                <span class="tag">Full-Stack Web-App</span>
                <span class="tag">NLP</span>
                <span class="tag">Selenium</span>
                <span class="tag">Python Flask</span>
                <span class="tag">nGinx</span>
                <span class="tag">NextJs</span>
                <span class="tag">Redis</span>
                <span class="tag">Celery</span>
                <span class="tag">Docker</span>
            </div>
        </div>
    </a>
    <a class="flex text-dark bg-middle rounded-xl link-card  w-full h-fit" href="https://github.com/zavastopher/blackjack" target="_blank">
        <Image src={blackjack} alt="an image of a blackjack login page" class="max-w-sm"/>
        <div class="p-3 flex flex-col gap-5 h-full">
            <h1 class="font-bold">BlackJack</h1>
            <p>
                A Blackjack Practicing Web-App
            </p>

            <span class="font-bold">Tags: </span>
            <p class="flex flex-wrap gap-1 text-middle">
                <span class="tag">Full-Stack Web-App</span>
                <span class="tag">NodeJS</span>
                <span class="tag">HTML</span>
                <span class="tag">CSS</span>
                <span class="tag">nGinx</span>
                <span class="tag">User Authentication</span>
                <span class="tag">Progressive Web-App</span>
                <span class="tag">Docker</span>
            </p>
        </div>
    </a>
    <a class="flex text-dark bg-middle rounded-xl link-card  w-full h-fit:w" href="https://github.com/zavastopher/Dungeons-And-Sounds?tab=readme-ov-file" target="_blank">
        <div class="p-3 flex flex-col gap-5 h-full">
            <h1 class="font-bold pb-2">Dungeons and Sounds</h1>
            <p>
                A Table Top RPG Simulator that maps the results to MIDI output.
            </p>
            <span class="font-bold">Tags: </span>
            <p class="flex flex-wrap gap-1 text-middle">
                <span class="tag">Python</span>
                <span class="tag">Algorithm Design</span>
                <span class="tag">Python Simulation</span>
                <span class="tag">Data Mapping</span>
            </p>
                
        </div>
    </a>
    
</Layout>
<style>
	.link-card {
		z-index: 1;
		position: relative;
		font-size: inherit;
		font-family: inherit;
		outline: none;
		border: none;
		//background-color: hsl(236, 32%, 26%);
		overflow: hidden;
		transition: color 0.4s ease-in-out;
	}

	.link-card::before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 100%;
		right: 100%;
		width: 7rem;
		height: 7rem;
		border-radius: 50%;
		background-color: #78CA9D;
		transform-origin: center;
		transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
		transition: transform 0.45s ease-in-out;
	}

	.link-card:hover {
		cursor: pointer;
		color: #0E121D;
	}

	.link-card:hover::before {
		transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
	}
    
    .tag {
        background-color: #151a29;
        padding: .2rem;
        border-radius: .2rem;
        //color: #78CA9D;
    }
</style>
