---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Christopher Zavala's Portfolio Site">
    <main class="flex flex-col items-center gap-5 align-middle m-auto w-screen max-w-screen-md">
        <div class="flex">
            <div class="m-5 text-light">
                CSS
            </div>
            <div class="m-5 text-light">
                
                HTML
            </div>
            <div class="m-5 text-light">
                JS
            </div>
            <div class="m-5 text-light">
                AstroJs
            </div>
        </div>
    </main>
</Layout>