---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christopher Zavala">
    <div class="flex flex-col items-center text-light h-20">
        <Icon name="catppuccin:docker" class="h-full w-auto"/>
        Docker
    </div>
</Layout>