---
---

<header class="flex gap-8 text-accent1">
    <a href="/zavastopher.github.io">
        <button class="hover:text-accent2 outline outline-offset-8 outline-2 rounded-xl">
            Home
        </button>
    </a>
    <a href="/zavastopher.github.io/projects" class="hidden sm:flex">
        <button class="hover:text-accent2 outline outline-offset-8 outline-2 rounded-xl">
            Projects
        </button>
    </a>
    <a href="/zavastopher.github.io/tech-stack">
        <button class="hover:text-accent2 outline outline-offset-8 outline-2 rounded-xl">
            Tech Stack
        </button>
    </a>
    <a href="/zavastopher.github.io/tools" class="hidden sm:flex">
        <button class="hover:text-accent2 outline outline-offset-8 outline-2 rounded-xl">
            Tools
        </button>
    </a>    
    <a href="/zavastopher.github.io/about">
        <button class="hover:text-accent2 outline outline-offset-8 outline-2 rounded-xl">
            About
        </button>
    </a>
</header>
